<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <!-- 注解驱动 -->
    <!--<mvc:annotation-driven />-->
    <context:component-scan base-package="com.hsjry.p2p.athena">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>
    </context:component-scan>

    <!-- 扫描路径 -->
	<!--<context:property-placeholder location="classpath*:config.properties" />-->
	<!--<request id="configproperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
		<!--<property name="location" value="classpath:config.properties"/>-->
	<!--</request>-->
    <!-- 对静态资源文件的访问 不支持访问WEB-INF目录 -->
    <!--<mvc:annotation-driven />-->
    <!--<mvc:default-servlet-handler />-->

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>

        </mvc:message-converters>
    </mvc:annotation-driven>



    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
        <!--<property name="messageConverters">-->
            <!--<list>-->
                <!--<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>-->
                <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter"/>-->
                <!--<bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>-->
                <!--<ref bean="fastJsonHttpMessageConverter"></ref>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="order" value="1"/>-->
    <!--</bean>-->

    <!--<mvc:annotation-driven/>-->

    <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

</beans>